<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="topbar-box mw1080">
        <div class="topbar-wrap w1080 clearfix">
            <div class="topbar-user fl">
                <a class="topbar-uname" th:href="${buyerDomain}" target="_blank">Hi,<span
                        th:text="${currentAccount.displayName}"></span></a>
                <a class="topbar-upoint" th:if="${currentAccount ne null and #strings.contains(currentAccount.authorities, 'ROLE_BUYER')}" th:href="${buyerDomain+'/points/index'}" target="_blank">
                    积分
                    <span class="fw" id="enablePoints"></span>
                </a>
                <a class="topbar-upoint" th:href="${buyerDomain + '/letter/list'}" target="_blank">
                    消息
                    <span class="fw" id="new"></span>
                </a>
                <a class="topbar-uexit" th:href="${logoutUrl}">退出</a>
            </div>

            <div class="topbar-center fr" th:if="${currentAccount eq null or #strings.contains(currentAccount.authorities, 'ROLE_BUYER')}">
                <a class="topbar-cmy" th:href="${indexDomain}" target="_blank">迎天下首页</a>
                <span class="vertical-bar"></span>
                <div id="cMy" class="topbar-custom drop-down lg">
                    <a class="c666" th:href="${buyerDomain}" target="_blank">我的天下<i class="fa fa-angle-down ml5"></i></a>
                    <ul class="drop-down-sub hidden">
                        <li>
                            <a th:href="${orderUrl}" target="_blank" class="c666">我的订单</a>
                        </li>
                    </ul>
                </div>
                <span class="vertical-bar"></span>
                <a class="topbar-ccart" th:href="${cartDomain}" target="_blank"><i class="new-shopping-cart"></i>购物车 <span id="cartValue">0</span></a>
                <span class="vertical-bar"></span>
                <div id="cStow" class="topbar-custom drop-down">
                    <a class="c666" th:href="${myCollectionsUrl}" target="_blank">收藏夹<i class="fa fa-angle-down ml5"></i></a>
                    <ul class="drop-down-sub hidden">
                        <li>
                            <a th:href="${buyerUrl +'/favorite/item/paging/1'}" target="_blank" class="c666">收藏的商品</a>
                        </li>
                        <li>
                            <a th:href="${buyerDomain +'/favorite/shop/1'}" target="_blank" class="c666">收藏的店铺</a>
                        </li>
                        <!--<li>-->
                            <!--<a th:href="${buyerUrl +'/purchaseOrder'}" target="_blank" class="c666">收藏的品牌</a>-->
                        <!--</li>-->
                    </ul>
                </div>
                <span class="vertical-bar"></span>
                <a class="topbar-cmobile" th:href="${indexDomain} + '/download.php'" target="_blank"><i class="new-mobile"></i>手机版
                    <div class="app-code1 hidden">
                        <p class="ap-code-img1"><img src="/static/images/img_code.jpg" width="120" height="120" /></p>
                        <p class="ap-code-text tac">下载APP 及时抢</p>
                    </div>
                </a>
                <span class="vertical-bar"></span>
				<span class="topbar-custom drop-down">
					<a class="c666" href="javascript:void(0);">客户服务<i class="fa fa-angle-down ml5"></i></a>
					<ul class="drop-down-sub hidden">
                        <li>
                            <a th:href="${buyerDomain+'/custom/index'}" target="_blank" class="c666">智能回复</a>
                        </li>
                    </ul>
				</span>
            </div>
        </div>
    </div>
    <!-- logo -->
    <div class="index-logobar2 mw1080">
        <div class="index-logobar-wrap w1080 clearfix">
            <div class="index-logo fl">
                <a href="#" class="logo" th:href="${indexDomain}"></a>
            </div>
            <div class="index-logo-type fr">
                <p class="step-tt">
                    <span style="margin-right: 53px;">我的购物车</span>
                    <span style="margin-right: 55px;">填写核对订单信息</span>
                    <span style="margin-right: 81px;">提交订单</span>
                    <span>付款成功</span>
                </p>
            </div>
        </div>
    </div>
</div>