<div class="detail-moreitems" th:fragment="recommend" xmlns:th="http://www.thymeleaf.org">
    <h2 class="detail-more-title">商品推荐</h2>
    <div class="detail-interest-container">
        <div class="clearfix">
            <h3 class="detail-interest-title">您可能感兴趣的商品</h3>
            <!--<dl class="detail-interest-page-con" id="pageAction">-->
                <!--<dt class="detail-interest-page"><span class="page-icon"></span></dt>-->
                <!--<dd class="detail-interest-page active">1</dd>-->
                <!--<dd class="detail-interest-page">2</dd>-->
                <!--<dd class="detail-interest-page">3</dd>-->
                <!--<dd class="detail-interest-page">4</dd>-->
                <!--<dd class="detail-interest-page">5</dd>-->
                <!--<dt class="detail-interest-page"><span class="page-icon page-icon-right"></span></dt>-->
            <!--</dl>-->
        </div>
        <div class="interest-wrap-section">
            <div class="interest-wrap-container clearfix" id="IwrapCon">
                <div class="interest-wrap">
                    <a href="http://item.ytx.com/item/501" class="interest-item-link" target="_blank">
                        <div class="interest-item-images-con">
                            <img src="http://g2.ytx.com/1519/a65b6587f97b40428c46d04fb670a18f.jpg" class="interest-item-image"/>
                        </div>
                        <div class="interest-item-brand">DIOR</div>
                        <div class="interest-item-name">2016春季新款格子连衣裙8032p80</div>
                        <div class="interest-item-price-con">
                            <b class="interest-item-curPrice">￥148</b>
                            <!--<span class="interest-item-discount">(1.2折)</span>-->
                            <!--<del class="interest-item-originPrice">￥399</del>-->
                        </div>
                    </a>
                    <a href="http://item.ytx.com/item/480" class="interest-item-link" target="_blank">
                        <div class="interest-item-images-con">
                            <img src="http://g2.ytx.com/1521/0daff609ad33493a850af7f1d1d4e4f5.jpg" class="interest-item-image"/>
                        </div>
                        <div class="interest-item-brand">DIOR</div>
                        <div class="interest-item-name">FQII 独家定制 15年夏季新款个性波点衬衫M071-65</div>
                        <div class="interest-item-price-con">
                            <b class="interest-item-curPrice">￥168</b>
                            <!--<span class="interest-item-discount">(1.2折)</span>-->
                            <!--<del class="interest-item-originPrice">￥399</del>-->
                        </div>
                    </a>
                    <a href="http://item.ytx.com/item/482" class="interest-item-link" target="_blank">
                        <div class="interest-item-images-con">
                            <img src="http://g2.ytx.com/1495/6a511f16ac814d359bd8fde4ae131ef7.jpg" class="interest-item-image"/>
                        </div>
                        <div class="interest-item-brand">DIOR</div>
                        <div class="interest-item-name">2818p95 爆款棉麻薄夹克衫活力立领男外套</div>
                        <div class="interest-item-price-con">
                            <b class="interest-item-curPrice">￥190</b>
                            <!--<span class="interest-item-discount">(1.2折)</span>-->
                            <!--<del class="interest-item-originPrice">￥399</del>-->
                        </div>
                    </a>
                    <a href="http://item.ytx.com/item/454" class="interest-item-link" target="_blank">
                        <div class="interest-item-images-con">
                            <img src="http://g2.ytx.com/1495/18fa40b0e8f141e4a03389e072659f09.jpg" class="interest-item-image"/>
                        </div>
                        <div class="interest-item-brand">DIOR</div>
                        <div class="interest-item-name">7511p45 夏季跑量款印花圆领短袖体恤衫</div>
                        <div class="interest-item-price-con">
                            <b class="interest-item-curPrice">￥90</b>
                            <!--<span class="interest-item-discount">(1.2折)</span>-->
                            <!--<del class="interest-item-originPrice">￥399</del>-->
                        </div>
                    </a>
                    <a href="http://item.ytx.com/item/470" class="interest-item-link" target="_blank">
                        <div class="interest-item-images-con">
                            <img src="http://g2.ytx.com/1493/619cf1c82f444d049b63389a324312cd.jpg" class="interest-item-image"/>
                        </div>
                        <div class="interest-item-brand">DIOR</div>
                        <div class="interest-item-name">精品男装219 8872 F170 2016新款休闲裤</div>
                        <div class="interest-item-price-con">
                            <b class="interest-item-curPrice">￥340</b>
                            <!--<span class="interest-item-discount">(1.2折)</span>-->
                            <!--<del class="interest-item-originPrice">￥399</del>-->
                        </div>
                    </a>
                    <a href="http://item.ytx.com/item/457" class="interest-item-link" target="_blank">
                        <div class="interest-item-images-con">
                            <img src="http://g2.ytx.com/1516/00b6c6c24a9d4c8d9c9a0fdbf255593b.jpg" class="interest-item-image"/>
                        </div>
                        <div class="interest-item-brand">DIOR</div>
                        <div class="interest-item-name">黑眼白色长袖紫罗兰纯色萌宝2016春秋款新品韩版儿童男童纯棉三色</div>
                        <div class="interest-item-price-con">
                            <b class="interest-item-curPrice">￥125</b>
                            <!--<span class="interest-item-discount">(1.2折)</span>-->
                            <!--<del class="interest-item-originPrice">￥399</del>-->
                        </div>
                    </a>
                    <a href="http://item.ytx.com/item/533" class="interest-item-link" target="_blank">
                        <div class="interest-item-images-con">
                            <img src="http://g2.ytx.com/1522/c2a215aa536945efb83c3e24fcf89c8d.jpg" class="interest-item-image"/>
                        </div>
                        <div class="interest-item-brand">DIOR</div>
                        <div class="interest-item-name">2016夏季新款女士高跟防水台凉鞋夏真皮露趾欧美凉鞋P95-701</div>
                        <div class="interest-item-price-con">
                            <b class="interest-item-curPrice">￥188</b>
                            <!--<span class="interest-item-discount">(1.2折)</span>-->
                            <!--<del class="interest-item-originPrice">￥399</del>-->
                        </div>
                    </a>
                    <a href="http://item.ytx.com/item/562" class="interest-item-link" target="_blank">
                        <div class="interest-item-images-con">
                            <img src="http://g2.ytx.com/1503/17107e4a6b4840be8d3a2c4264625017.png" class="interest-item-image"/>
                        </div>
                        <div class="interest-item-brand">DIOR</div>
                        <div class="interest-item-name">2016春季新款男士低帮休闲鞋 JP111 F169 P230</div>
                        <div class="interest-item-price-con">
                            <b class="interest-item-curPrice">￥460</b>
                            <!--<span class="interest-item-discount">(1.2折)</span>-->
                            <!--<del class="interest-item-originPrice">￥399</del>-->
                        </div>
                    </a>
                    <a href="http://item.ytx.com/item/543" class="interest-item-link" target="_blank">
                        <div class="interest-item-images-con">
                            <img src="http://g2.ytx.com/1524/927312d5daba4ac7bdb0fb1bde680700.png" class="interest-item-image"/>
                        </div>
                        <div class="interest-item-brand">DIOR</div>
                        <div class="interest-item-name">四季百搭男鞋英伦休闲套脚皮鞋男 复古低帮鞋潮鞋915P115</div>
                        <div class="interest-item-price-con">
                            <b class="interest-item-curPrice">￥155</b>
                            <!--<span class="interest-item-discount">(1.2折)</span>-->
                            <!--<del class="interest-item-originPrice">￥399</del>-->
                        </div>
                    </a>
                    <a href="http://item.ytx.com/item/546" class="interest-item-link" target="_blank">
                        <div class="interest-item-images-con">
                            <img src="http://g2.ytx.com/1526/cd0499c10320413aa4fb7ac2d77a1bbf.jpg" class="interest-item-image"/>
                        </div>
                        <div class="interest-item-brand">DIOR</div>
                        <div class="interest-item-name">防滑耐磨男鞋低帮篮球鞋运动休闲鞋乔11  B218-X047-105</div>
                        <div class="interest-item-price-con">
                            <b class="interest-item-curPrice">￥178</b>
                            <!--<span class="interest-item-discount">(1.2折)</span>-->
                            <!--<del class="interest-item-originPrice">￥399</del>-->
                        </div>
                    </a>
                </div>
            </div>
            <div class="interest-wrap-action" id="IAction">
                <span class="interest-wrap-btn"></span>
                <span class="interest-wrap-btn next"></span>
            </div>
        </div>
    </div>
</div>