/*404*/
.main-wrap-404{
    height:100%;
    width:515px;
    margin: 0 auto;
}
.main-wrap-404 .main404{
    position:absolute;
    top:50%;
    margin-top: -133px;
    margin-left: auto;
    margin-right: auto;
    width:515px;
    height:266px;
}
.icon-404{
    background: url(../images/404new.png) no-repeat;
    width:515px;
    height:165px;
}
.title-404{
    font-size:14px;
    color:#000;
    padding: 34px 0 20px;
    line-height: 16px;
    text-align: center;
}
.return-404{
    width:82px;
    height:29px;
    margin: 0 auto;
}
.btn-return{
    width:80px;
    height:27px;
    line-height: 27px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border:1px solid #04c2d2;
    background: #fff;
    color:#00c9da;
    font-size:14px;
    display: block;
    text-align: center;
}


/*403*/
.main-wrap-404 .main500,.main-wrap-404 .main502{
    position:absolute;
    top:50%;
    margin-top: -120px;
    margin-left: auto;
    margin-right: auto;
    width:515px;
    height:241px;
}
.main403{
    position: absolute;
    top:30%;
    margin-top: -120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.icon-403,.icon-500,.icon-502{
    background: url(../images/403_01.png) no-repeat;
    width:515px;
    height:170px;
}
.icon-500{
    background: url(../images/500_01.png) no-repeat;
}
.icon-502{
    background: url(../images/502_01.png) no-repeat;
}
.title-error{
    padding-top: 42px;
    width:203px;
    height:29px;
    margin: 0 auto;
    color:#000;
    font-size:14px;
    line-height: 29px;
}
.btn-back{
    width:80px;
    height:27px;
    margin-left: 194px;
    line-height: 27px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border:1px solid #e62e04;
    background: #e62e04;
    color: #ffffff;
    font-size:14px;
    display: block;
    text-align: center;
}
.login-head{
    width: 1080px;
    height: 90px;
    line-height: 90px;
    background: #FFFFFF;
    margin: 0 auto;
}
.login-logo{
    float: left;
    width: 95px;
    height: 44px;
    margin-top: 19px;
}
.login-body{
    background: #e53333;
}
.login-container{
    width: 1080px;
    height: 580px;
    position: relative;
    margin: 0 auto;
}
.logo{
    background: url("http://g0.ytx.com/ytx/ytx_log.png") 0 -177px;
    width: 119px;
    height: 54px;
    display: block;
}
header{
    border-bottom: 1px solid #e1e1e1;
}