.main-404Icon {
    padding: 0 0 20px 0
}

.main-404Icon img {
    margin: 0 auto
}

.L-404text {
    font-size: 14px;
    color: #5d5d5d;
    text-align: center
}

.L-404actions {
    text-align: center;
    font-size: 0
}

.L-404action {
    display: inline-block;
    width: 72px;
    height: 28px;
    line-height: 28px;
    background: #e62e04;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    margin: 0 12px
}