<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <title>迎天下-确认订单</title>
    <link href="/static/images/logo.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css" th:href="${'/static/css/release/common.min.css?v='+version}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/include.css" th:href="${'/static/css/release/include.min.css?v='+version}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css" th:href="@{/static/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/confirmorder.css" th:href="@{'/static/css/release/confirmorder.min.css?v='+version}"/>
</head>
<body>
<div class="main-container">
    <div th:include="include/header :: header"></div>
    <div class="main-content-container">
        <div class="confirmOrder">
            <div class="address-module">
                <h2 class="title c12">选择收货地址</h2>
                <div class="address-con">
                    <div class="add-outer zoom" id="addressOuter">
                        <ul class="address-list clearfix" id="addressList">
                            <!--@thymesVar id="userAddressMap" type="java.util.Map<java.util.Map>"-->
                            <!--@thymesVar id="isDefault" type="java.lang.String"-->
                            <li class="address-item J_address" th:if="${userAddress.isDefault eq 'true'}" th:class="${addressId eq userAddress.id or (addressId eq null and userAddress.isDefault eq 'true')?'address-item J_address active':'address-item J_address'}" th:each="userAddress:${userAddressMap}" th:attr="data-id=${userAddress.id}">
                                <dl class="address-item-prop clearfix">
                                    <dt class="address-icon icon-user fl"></dt>
                                    <dd class="prop-content">
                                        <span class="J_userName" th:text="${userAddress.userName}" th:attr="data-zip=${userAddress.zip}"></span>
                                    </dd>
                                </dl>
                                <dl class="address-item-prop clearfix">
                                    <dt class="address-icon icon-phone fl"></dt>
                                    <dd class="prop-content">
                                        <span class="J_userTel" th:text="${userAddress.telPhone}"></span>&nbsp;
                                        <span th:if="${userAddress.phone ne null and userAddress.phone ne 'null' and userAddress.phone ne ''}">;<span th:text="${userAddress.phone}"></span></span>
                                    </dd>
                                </dl>
                                <dl class="address-item-prop address-item-noborder clearfix">
                                    <dt class="address-icon icon-address fl"></dt>
                                    <dd class="address-detail" th:title="${userAddress.address}">
                                        <span class="J_userAdd" th:text="${userAddress.address}"></span>
                                    </dd>
                                </dl>
                                <div class="address-tags">
                                    <div class="address-edit J_edit" th:attr="data-id=${userAddress.id}">修改</div>
                                    <div class="address-tag">默认地址</div>
                                </div>
                                <span class="address-active"></span>
                                <input type="hidden" class="J_cityCode" th:value="${userAddress.cityCode}"/>
                                <input type="hidden" class="J_areaCode" th:value="${userAddress.areaCode}"/>
                                <input type="hidden" class="J_provinceCode" th:value="${userAddress.provinceCode}"/>
                                <input type="hidden" class="J_townCode" th:value="${userAddress.townCode}"/>
                            </li>
                            <li class="address-item J_address" th:if="${userAddress.isDefault ne 'true'}" th:each="userAddress:${userAddressMap}" th:attr="data-id=${userAddress.id}" th:class="${addressId eq userAddress.id?'address-item J_address active':'address-item J_address'}">
                                <dl class="address-item-prop clearfix">
                                    <dt class="address-icon icon-user fl"></dt>
                                    <dd class="prop-content">
                                        <span class="J_userName" th:text="${userAddress.userName}"  th:attr="data-zip=${userAddress.zip}"></span>
                                    </dd>
                                </dl>
                                <dl class="address-item-prop clearfix">
                                    <dt class="address-icon icon-phone fl"></dt>
                                    <dd class="prop-content">
                                        <span class="J_userTel" th:text="${userAddress.telPhone}"></span>
                                        <span th:if="${userAddress.phone ne null and userAddress.phone ne 'null' and userAddress.phone ne ''}">;<span th:text="${userAddress.phone}"></span></span>
                                    </dd>
                                </dl>
                                <dl class="address-item-prop address-item-noborder clearfix">
                                    <dt class="address-icon icon-address fl"></dt>
                                    <dd class="address-detail" th:title="${userAddress.address}">
                                        <span class="J_userAdd" th:text="${userAddress.address}"></span>
                                    </dd>
                                </dl>
                                <div class="address-tags">
                                    <div class="address-edit J_edit" th:attr="data-id=${userAddress.id}">修改</div>
                                </div>
                                <span class="address-active"></span>
                                <input type="hidden" class="J_cityCode" th:value="${userAddress.cityCode}"/>
                                <input type="hidden" class="J_areaCode" th:value="${userAddress.areaCode}"/>
                                <input type="hidden" class="J_provinceCode" th:value="${userAddress.provinceCode}"/>
                                <input type="hidden" class="J_townCode" th:value="${userAddress.townCode}"/>
                            </li>
                            <li class="add-address-item" id="createAddress">
                                <div class="icon-plus"></div>
                                <div class="add-address-text">添加新地址</div>
                            </li>
                        </ul>
                    </div>
                    <div class="address-control clearfix">
                        <div class="address-actions tac fl" id="allAddress" style="display:none;">显示全部地址</div>
                        <div class="address-actions tac fl" id="hiddenAddress" style="display:none;">收起</div>
                        <a href="#" class="address-actions tac fl" th:href="${managerAddressUrl}" target="_blank">管理收货地址</a>
                    </div>
                </div>
                <div class="create-addCon zoom hidden" id="createAddressCon">
                    <div class="fw c12 address-title">添加新地址</div>
                    <form id="createAddressForm">
                        <dl class="create-add-list clearfix">
                            <dt class="create-add-name">地<span class="vhidden">占位</span>址：<span class="yellow">*</span></dt>
                            <dd class="create-add-content" id="addressParent"></dd>
                            <label class="addressError"></label>
                        </dl>
                        <dl class="create-add-list clearfix">
                            <dt class="create-add-name">详细地址：<span class="yellow">*</span></dt>
                            <dd class="create-add-content">
                                <textarea rows="2" class="create-textarea" name="street" id="street" placeholder="" maxlength="100"></textarea>
                            </dd>
                        </dl>
                        <div class="create-tips">请填写街道地址，最少5个字，最多不能超过100个字</div>
                        <dl class="create-add-list clearfix">
                            <dt class="create-add-name">邮政编码：<span class="vhidden">*</span></dt>
                            <dd class="create-add-content">
                                <input type="text" class="create-input" name="zipCode" id="zipCode" title="邮编" maxlength="6"/>
                            </dd>
                        </dl>
                        <dl class="create-add-list clearfix">
                            <dt class="create-add-name">姓<span class="vhidden">占位</span>名：<span class="yellow">*</span></dt>
                            <dd class="create-add-content">
                                <input type="text" class="create-input" name="name" id="name" placeholder="长度不超过25个字符" maxlength="25"/>
                            </dd>
                        </dl>
                        <dl class="create-add-list clearfix">
                            <dt class="create-add-name">手<span class="vhidden">占位</span>机：<span class="yellow">*</span></dt>
                            <dd class="create-add-content">
                                <input type="text" class="create-input" name="phone" id="phone" title="手机号码"/>
                            </dd>
                        </dl>
                        <dl class="create-add-list clearfix" style="overflow: hidden"> 
                            <dt class="create-add-name">座<span class="vhidden">占位</span>机：<span class="vhidden">*</span></dt> 
                            <dd class="create-add-content"> 
                                <input class="m-phone first" name="mphone" id="areaNumber" type="text" placeholder="区号" maxlength="4"/> 
                                <span>-</span> 
                                <input class="m-phone second" name="mphone" id="phoneNumber" type="text" placeholder="电话号码" maxlength="8"/> 
                                <span>-</span> 
                                <input class="m-phone three" name="mphone" id="extensionNumber" type="text" placeholder="分机" maxlength="4"/> 
                                <span id="mphone-error" class="addressError" >座机号码格式错误!</span>
                            </dd> 
                        </dl>
                        <div class="create-addCon-action clearfix">
                            <button class="createAddr" id="confirmAddress">确认地址</button>
                            <div class="cancel" id="createAddr_cancel">取消</div>
                        </div>
                    </form>
                </div>
            </div>
            <!--<form action="" id="hiddenForm">-->
                <!--<input type="hidden" name="itemSkuId" th:value="${itemSkuId}"/>-->
                <!--<input type="hidden" name="numberWants" th:value="${numberWants}" th:if="${numberWants ne null}"/>-->
                <!--<input type="hidden" name="addressId" id="addressInput"/>-->
            <!--</form>-->
            <form action="/re_confirm_order" id="hiddenForm">
                <input type="hidden" name="buyDirectly" id="buyDirectly" th:value="${buyDirectly}"/>
                <input type="hidden" name="addressId" th:value="${addressId}" id="addressInput"/>
                <input type="hidden" name="defaultRedbagId" id="defaultRedbagId" th:value="${defaultRedbagId}"/>
                <input type="hidden" name="selectedPoints" id="selectedPoints" th:value="${selectedPoints}"/>
                <div th:each="itemMap:${itemMap}">
                    <input type="hidden" th:name="couponIds[+'\''+${itemMap.sellerMap.sellerId}+'\''+]" th:id="${ 'coupon'+itemMap.sellerMap.sellerId}"
                           th:value="${itemMap.couponId}"/>
                </div>
                <input type="hidden" name="numberWants" th:value="${numberWants}" th:if="${numberWants ne null}"/>
                <input type="hidden" name="itemSkuId" id="itemSkuId" th:value="${itemSkuId}"/>
                <input type="hidden" name="itemSkuIds" id="itemSkuIds" th:value="${itemSkuIds}"/>
                <!--<input type="hidden" name="delivery" id="delivery" th:value="${delivery}"/>-->
                <input type="hidden" name="scrollTop" id="scrollTop"/>
            </form>
            <div class="item-module">
                <h2 class="title">确认订单信息</h2>
                <div class="order-table zoom">
                    <div class="order-tbody" id="orderMain">
                        <div class="order-container J_seller" data-selleracountid="一匹狼" th:each="itemMap,itemMapStat:${itemMap}" th:attr="data-selleracountid=${itemMap.sellerMap.sellerId},data-activityId=${(itemMap.discountList eq null or itemMap.discountList.size() eq 0) ? '':itemMap.discountList[0].activityId},data-updatedAt=${(itemMap.discountList eq null or itemMap.discountList.size() eq 0 or itemMap.discountList[0].updatedAt eq null )?'':itemMap.discountList[0].updatedAt}">
                            <div class="order-thead clearfix">
                                <div class="order-thead-th order-thead-brand" th:if="${itemMap.sellerMap.sellerType eq 1}"><span class="theme mr10">迎天下</span><span th:text="${itemMap.sellerMap.sellerNickName}">西米SEEME</span></div>
                                <div class="order-thead-th order-thead-brand" th:if="${itemMap.sellerMap.sellerType eq 2}"><span class="theme mr10">商城</span><span th:text="${itemMap.sellerMap.sellerNickName}">xxx旗舰店</span><img src=""/></div>
                                <div class="order-thead-th order-thead-price">单价(元)</div>
                                <div class="order-thead-th order-thead-num">数量</div>
                                <div class="order-thead-th order-thead-sum">小计(元)</div>
                            </div>
                            <ul class="order-tr clearfix J_orderItem order-border" th:each="item:${itemMap.itemData}">
                                <li class="td th-item">
                                    <a href="#" class="item-image-con" th:href="${itemDetailUrl+item.itemId}"
                                       target="_blank">
                                        <img src="#" class="item-image" th:if="${item.imgUrl eq null or item.imgUrl eq ''}" th:src="${imageUrl+'/'+item.itemImageKey + '?x-oss-process=image/resize,m_lfit,h_78,w_78'}"/>
                                        <img src="#" class="item-image" th:if="${item.imgUrl ne null and item.imgUrl ne ''}" th:src="${imageUrl+'/'+item.imgUrl + '?x-oss-process=image/resize,m_lfit,h_78,w_78'}"/>
                                    </a>
                                    <div class="item-desc">
                                        <a href="#" class="item-name" th:href="${itemDetailUrl+item.itemId}"
                                           th:text="${item.itemName}" target="_blank">韩版中长款个性薄风衣韩版中长款个性薄风衣</a>
                                        <p class="sku-prop">商品属性：<span th:text="${item.skuCode}"></span></p>
                                    </div>
                                </li>
                                <li class="td th-price">
                                    <del class="price-text c999" th:text="${#numbers.formatDecimal(item.marketPrice, 1, 2)}" th:if="${item.marketPrice ne item.price and item.marketPrice ne null and item.marketPrice ne ''}"></del>
                                    <p class="price-text" th:text="${#numbers.formatDecimal(item.price, 1, 2)}">120.00</p>
                                </li>
                                <li th:if="${item.price ne null}" class="td th-acount J_itemAccount" th:attr="data-value=${item.number},data-itemskuid=${item.itemSkuId},data-marketprice=${item.marketPrice},data-onsaleprice=${item.price}">
                                    <span class="item-account" th:text="${item.number}">1</span>
                                </li>
                                <li th:if="${item.price eq null}" class="td th-acount J_itemAccount" th:attr="data-value=${item.number},data-itemskuid=${item.itemSkuId},data-marketprice=${item.marketPrice}">
                                    <span class="item-account" th:text="${item.number}">1</span>
                                </li>
                                <li class="td th-sum">
                                    <span class="item-sum J_itemSum fw" th:text="${#numbers.formatDecimal(item.amount, 1, 2)}"></span>
                                </li>
                            </ul>
                            <div class="order-border clearfix">
                                <div class="invoice-con J_invoiceCon">
                                    <div class="mes" th:if="${itemMap.sellerMap.sellerType eq 2}">
                                        <span class="mes-text">备注：</span>
                                        <input type="text" class="mes-input J_remark" placeholder="选填，可填写您和卖家达成一致的要求"/>
                                    </div>
                                    <div class="invoice-name">发票信息：</div>
                                    <div class="invoice-content">
                                        <div class="invoice-check J_invoiceCheck">
                                            <input type="checkbox" class="J_invoice" th:id="${'needInvoice'+itemMapStat.index}" title="是否开发票"/>
                                            <label class="ml4" th:for="${'needInvoice'+itemMapStat.index}">添加发票</label>
                                            <i class="ml4 icon-question J_question"></i>
                                        </div>
                                        <div class="invoice-hidden J_hiddenInvoice invoiceSelect">
                                            <div class="invoice-type-con">
                                                <input type="radio" class="invoice-radio J_invoiceType" th:name="${'invoiceType'+itemMapStat.index}" id="personal" value="1"/>
                                                <label for="personal" class="invoice-label">个人</label>
                                                <input type="radio" class="invoice-radio J_invoiceType" th:name="${'invoiceType'+itemMapStat.index}" id="company" value="2"/>
                                                <label for="company" class="invoice-label">公司</label>
                                                <input type="text" class="company-name J_companyName hidden" placeholder="公司名称"/>
                                                <span class="J_invoiceAlert"></span>
                                            </div>
                                            <div class="invoice-type-desc">发票内容：明细</div>
                                            <div class="invoice-actions">
                                                <span class="invoice-actions-save J_saveInvoice">保存</span>
                                                <span class="invoice-actions-cancel J_cancelInvoice"> 取消</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invoice-chooszen J_invoiceChooszen">
                                        <span class="invoice-chooszen-name J_invoice-chooszen"></span>
                                        <span class="invoice-chooszen-edit J_invoice-edit">修改</span>
                                    </div>
                                </div>

                                <div class="favorable order-promotion">
                                    <div class="order-express" th:if="${(itemMap.couponVOS ne null) and (itemMap.couponVOS.size() ne 0 )}">
                                        <div class="limit">
                                        <span class="icon-coupon">优惠券:</span>
                                        <!--<span class="c999" th:if="${itemMap.couponVOS eq null or itemMap.couponVOS.size() eq 0 }">没有可用的优惠券</span>-->
                                        <select name="" class="J_couponSelect delivery-select" title="可使用优惠券" th:if="${(itemMap.couponVOS ne null) and (itemMap.couponVOS.size() ne 0) }">
                                            <option th:value="${itemMap.sellerMap.sellerId + '.0'}">不使用优惠券</option>
                                            <option th:selected="${itemMap.couponId eq couponItems.id}" th:attr="data-denomination=${couponItems.denomination}" th:value="${itemMap.sellerMap.sellerId+'.'+couponItems.id}" th:each="couponItems:${itemMap.couponVOS}" th:text="${(couponItems.conditionFullAmount eq null?'无门槛':'满'+couponItems.conditionFullAmount)+'减'+couponItems.denomination+'元'}"></option>
                                        </select>
                                        </div>
                                        <span class="J_couponText c12 limit-right"></span>
                                    </div>

                                    <dl class="RB" th:each="discount:${itemMap.discountList}">
                                        <dd class="RB-desc limit">
                                            <span class="icon-coupon">满减:</span>
                                            <span class="RB-text" th:text="${discount.activeName}"></span>
                                        </dd>
                                        <dt class="RB-value tar limit-right">-￥<span class="J_discountPrice" th:text="${#numbers.formatDecimal(discount.discountAmount, 1, 2)}">0.00</span></dt>
                                    </dl>

                                    <div class="order-express" th:if="${#lists.size(itemMap.deliveryMap) eq 1}" th:each="delivery:${itemMap.deliveryMap}">
                                        <div class="limit">
                                        <span class="icon-coupon">运送方式:</span>
                                        <span th:text="${delivery.delivery}"></span>
                                        <span class="mr50" th:text="${' ¥ ' + #numbers.formatDecimal(delivery.value, 1, 2)}" th:if="${delivery.deliveryFreeFee eq false}"></span>
                                        <input type="hidden" class="J_expressCost" th:value="${(delivery.deliveryFreeFee eq true ? '0.00' : delivery.value) + ',' + delivery.deliveryType}"/>
                                        </div>
                                        <span class="c12 limit-right" th:text="${' ¥ ' + #numbers.formatDecimal((delivery.deliveryFreeFee eq true ? '0.00' : delivery.value), 1, 2)}"></span>
                                    </div>
                                    <div class="order-express" th:if="${#lists.size(itemMap.deliveryMap) gt 1}">
                                        <div class="limit">
                                        <span class="icon-coupon">运送方式:</span>
                                        <select name="" class="J_expressCost delivery-select" title="运送方式">
                                            <option value="" th:each="delivery:${itemMap.deliveryMap}" th:text="${delivery.delivery +  (delivery.deliveryFreeFee eq false ?  ' ¥ ' +#numbers.formatDecimal(delivery.value, 1, 2) : '')}" th:value="${(delivery.deliveryFreeFee eq true ? '0.00' : delivery.value)+ ',' + delivery.deliveryType}"></option>
                                        </select>
                                        </div>
                                        <span class="J_expressText c12 limit-right"></span>
                                    </div>

                                </div>
                            </div>


                            <div class="order-border clearfix">
                                <div class="brand-total">合计(<span th:text="${itemMap.deliveryMap[0].deliveryFreeFee eq true ? '已免运费' : '含运费'}">含运费</span>)：<span class="brand-num fw">￥<em class="brand-value J_orderDisTotal"></em></span></div>
                                <input type="hidden" th:if="${itemMap.deliveryMap[0].deliveryFreeFee eq true}" value="1" id="deliveryFreeFee"/>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:value="${buyDirectly}" id="J_buyWay"/>
                </div>
                <div th:if="${!#lists.isEmpty(invalidateItemDataMapList)}">
                    <div class="fw invalid-title">失效商品</div>
                    <div class="order-table zoom invalid-item-list">
                        <div class="order-tbody">
                            <div class="order-thead clearfix item-invalid">
                                <div class="order-thead-th order-thead-brand"></div>
                                <div class="order-thead-th order-thead-price c999">单价(元)</div>
                                <div class="order-thead-th order-thead-num c999">数量</div>
                                <div class="order-thead-th order-thead-sum c999">小计(元)</div>
                            </div>
                            <div th:each="seller:${invalidateItemDataMapList}">
                                <ul class="order-tr clearfix J_orderItem order-border item-invalid" th:each="item:${seller.itemData}">
                                    <li class="td th-item">
                                        <a href="#" class="item-image-con" th:href="${itemDetailUrl+item.itemId}"
                                           target="_blank">
                                            <img src="#" class="item-image" th:if="${item.imgUrl eq null or item.imgUrl eq ''}" th:src="${imageUrl+'/'+item.itemImageKey + '?x-oss-process=image/resize,m_lfit,h_78,w_78'}"/>
                                            <img src="#" class="item-image" th:if="${item.imgUrl ne null and item.imgUrl ne ''}" th:src="${imageUrl+'/'+item.imgUrl + '?x-oss-process=image/resize,m_lfit,h_78,w_78'}"/>
                                        </a>
                                        <div class="item-desc">
                                            <a href="#" class="item-name c999" th:href="${itemDetailUrl+item.itemId}"
                                               th:text="${item.itemName}" target="_blank">韩版中长款个性薄风衣韩版中长款个性薄风衣</a>
                                            <p class="sku-prop">商品属性：<span th:text="${item.skuCode}"></span></p>
                                            <span class="invalid-msg" th:text="${item.invalidMsg}">商品已失效</span>
                                        </div>
                                    </li>
                                    <li class="td th-price">
                                        <del class="price-text c999" th:text="${#numbers.formatDecimal(item.marketPrice, 1, 2)}" th:if="${item.marketPrice ne item.salePrice and item.marketPrice ne null and item.marketPrice ne ''}">120.00</del>
                                        <p class="price-text c999" th:text="${#numbers.formatDecimal(item.salePrice, 1, 2)}">120.00</p>
                                    </li>
                                    <li class="td th-acount J_itemAccount">
                                        <span class="item-account" th:text="${item.number}">1</span>
                                    </li>
                                    <li class="td th-sum">
                                        <span class="item-sum J_itemSum" th:text="${#numbers.formatDecimal(item.priceSnapshot, 1, 2)}">1111</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="action clearfix">
                <div th:if="${!#lists.isEmpty(redbagList)}">
                    <div class="tar">
                        <i class="icon-redbag"></i>
                        <span class="RB-text">可使用红包：</span>
                        <select class="RB-select" id="redbag" title="红包">
                            <option value="">请选择红包</option>
                            <option th:each="redBag:${redbagList}"
                                    th:value="${redBag.id + ',' + redBag.denomination}"
                                    th:text="${'满'+(redBag.restrictions==null?'0':redBag.restrictions)+'减'+redBag.denomination}"
                                    th:selected="${defaultRedbagId ne null and redBag.id eq defaultRedbagId}"></option>
                        </select>
                    </div>
                </div>
                <div class="total-account-con c12 tar point-con" th:if="${pointVO.success and pointVO.points ne 0 and pointVO.thisEnable ne 0}">
                    <input type="checkbox" id="usePoint" th:value="${pointVO.thisEnable}" th:disabled="${#lists.isEmpty(itemMap)}"/>
                    <label for="usePoint">使用积分</label>
                    <span id="pointText">￥<span th:text="${pointVO.exchangeAmount}">0.04</span><span class="ml10">你有<span th:text="${pointVO.points}">6655</span>个，本次可用<span th:text="${pointVO.thisEnable}">6650</span>个</span></span>
                </div>
                <div class="clearfix">
                    <div class="fr">
                        <div class="total-account-con">
                            <span class="total-account-text">总额：</span>
                            <span> ¥ <span id="J_total"></span></span>
                        </div>
                        <div class="total-account-con" id="redbagDiscountOuter" th:if="${!#lists.isEmpty(redbagList)}">
                            <span class="total-account-text">红包：</span>
                            <span>- ¥ <span id="redbagDiscount"></span></span>
                        </div>
                        <div class="total-account-con" th:if="${pointVO.success and pointVO.points ne 0 and pointVO.thisEnable ne 0}">
                            <span class="total-account-text">积分：</span>
                            <span>- ¥ <span id="J_point">0.00</span></span>
                        </div>
                        <div class="total-account-con mb15">
                            <span class="total-account-text">实付：</span>
                            <span class="total-account-price"> ¥ <span id="J_disTotal" class="fw"></span></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="" th:value="${tradeDomain}" id="J_path"/>
                <div class="submit" id="confirmOrder">提交订单</div>
                <a th:href="${cartDomain}" class="backCart c999" th:if="${buyDirectly ne 'yes'}">返回购物车修改</a>
            </div>
        </div>
    </div>
    <input type="hidden" id="itemTotalPrice"/>
</div>
<script type="text/html" id="addressContent">
    <li class="address-item J_address active" data-id="{{id}}">
        <dl class="address-item-prop clearfix">
            <dt class="address-icon icon-user fl"></dt>
            <dd class="prop-content">
                <span class="J_userName" data-zip="{{zip}}">{{consignee}}</span>
            </dd>
        </dl>
        <dl class="address-item-prop clearfix">
            <dt class="address-icon icon-phone fl"></dt>
            <dd class="prop-content">
                <span class="J_userTel">{{mobile}}</span>
            </dd>
        </dl>
        <dl class="address-item-prop address-item-noborder clearfix">
            <dt class="address-icon icon-address fl"></dt>
            <dd class="address-detail">
                <span class="J_userAdd">{{province}} {{city}} {{area}} {{address}}</span>
            </dd>
        </dl>
        <div class="address-tags">
            <div class="address-edit J_edit" data-id="{{id}}">修改</div>
            <div class="address-tag">{{if isDefault}}默认地址{{/if}}</div>
        </div>
        <span class="address-active"></span>
        <input type="hidden" value="{{cityCode}}" class="J_cityCode"/>
        <input type="hidden" value="{{areaCode}}" class="J_areaCode"/>
        <input type="hidden" value="{{provinceCode}}" class="J_provinceCode"/>
        <input type="hidden" value="{{townCode}}" class="J_townCode"/>
    </li>
</script>
<input type="hidden" th:value="${msg}" id="userAlert"/>
<input type="hidden" th:value="${redirectUrl}" id="needRedirect"/>
<div class="footer mt60" th:include="include/footer :: foot"></div>
<script th:inline="javascript">
    var thymeleafData = {
        address : [null,null,null,null]
    };
</script>
<script src="../../static/js/common/jquery-1.11.3.min.js" th:src="@{/static/js/common/jquery-1.11.3.min.js}"></script>
<script src="../../static/js/common/template.js" th:src="@{/static/js/common/template.js}"></script>
<script src="../../static/js/common/jquery.validate.js" th:src="@{/static/js/common/jquery.validate.js}"></script>
<script src="../../static/js/layer/layer.js" th:src="@{/static/js/layer/layer.js}" ></script>
<script src="../../FEtest/test/confirm.js" th:src="${'/static/js/confirm.min.js?v='+version}" ></script>
<script src="../../static/js/common/getCartNum.js" th:src="${'/static/js/common/getCartNum.js?v='+version}"></script>
<script src="../../static/js/topnav.js" th:src="${'/static/js/topnav.js?v='+version}"></script>
</body>
</html>
