<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <title>迎天下-403</title>
    <link href="/static/images/logo.ico" type="image/x-icon" rel="shortcut icon"/>
    <link rel="stylesheet" href="../../static/css/commonstyle.css" th:href="@{/static/css/commonstyle.css}"/>
    <link rel="stylesheet" href="../../static/css/404.css" type="text/css"
          th:href="${'/static/css/release/404.min.css?v=' + version}"/>
</head>
<body>
<header>
    <div class="login-head">
        <div class="login-logo">
            <a th:href="${indexDomain}" class="logo"></a>
        </div>
        <div class="fr"><a th:href="${accountDomain+'/login/index'}">登录</a></div>
    </div>
</header>
<div class="main-wrap-404">
    <div class="main403">
        <img src="http://g0.ytx.com/ytx/403.jpg"/>
        <a href="javascript:void(0);" onclick="history.go(-1);return false;" class="btn-back">返回</a></div>
</div>
</body>
</html>